<div class="about">
    <div class="container">
        <span class="v-text">
            Know us
        </span>
        <h1 class="title">
            About us
        </h1>
        <div class="cols">
            <div class="cols__item">
                <h1 class="title2">
                    Who we are?
                </h1>
                <span class="title-medium">
                    What we can do for you
                </span>
                <p class="text">
                    it’s never been easier to connect with people who speak this language. They 
                    want others to build up their self-image and confidence, and digital connectivity 
                    creates ample opportunity to tell your                    
                </p>
                <p class="text">
                    One option might be developing a blog series that focuses on industry wins, or 
                    spotlights companies that are doing something right. Or if you share an article 
                    with your network,                   
                </p>
            </div>
            <div class="cols__item">
                <div class="mark mark--audience">
                    <i class="circle"></i>
                    <span class="numbr">
                        20,145
                    </span>
                    <span class="text">
                        audience served
                    </span>
                </div>
                <div class="mark mark--hours">
                    <i class="circle"></i>
                    <span class="numbr">
                        5480
                    </span>
                    <span class="text">
                        hours of service
                    </span>
                </div>
                <div class="mark mark--event">
                    <i class="circle"></i>
                    <span class="numbr">
                        715
                    </span>
                    <span class="text">
                        event covered
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>