<div class="events">
    <h2 class="big-text">
        Events
    </h2>
    <div class="event-bar">
        <div class="event event--external">
            <div class="title-part">
                <h1 class="big-text2 big-text2--thin">
                    external
                </h1>
                <h1 class="big-text2 big-text2--thick">
                    event
                </h1>
            </div>
            <div class="content-part">
                <i class="pic pic--external"></i>
                <p class="lil-text">
                    Offers customizable on-line registration service for event organizers. Includes pricing, features, and types of accounts. 
                </p>
            </div>
            <a href="#" class="btn">
                Discover
            </a>
        </div>
        <div class="event event--interactive">
            <div class="title-part">
                <h1 class="big-text2 big-text2--thin">
                    interactive
                </h1>
                <h1 class="big-text2 big-text2--thick">
                    event
                </h1>
            </div>
            <div class="content-part">
                <i class="pic pic--interactive"></i>
                <p class="lil-text">
                    Offers customizable on-line registration service for event organizers. Includes pricing, features, and types of accounts. 
                </p>
            </div>
            <a href="#" class="btn">
                Discover
            </a>
        </div>  
        <div class="event event--internal">
            <div class="title-part">
                <h1 class="big-text2 big-text2--thin">
                    internal
                </h1>
                <h1 class="big-text2 big-text2--thick">
                    event
                </h1>
            </div>
            <div class="content-part">
                <i class="pic pic--internal"></i>
                <p class="lil-text">
                    Offers customizable on-line registration service for event organizers. Includes pricing, features, and types of accounts. 
                </p>
            </div>
            <a href="#" class="btn">
                Discover
            </a>
        </div>            
    </div>
</div>