<footer class="footr">
    <div class="container">
        <div class="cols">
            <div class="cols__item cols__item--logo-col">
                <a href="#" class="logo"></a>
                <p class="text">
                    We are AskVote.io. We are a online 
                    platform for operating events effectively. 
                    We're working on a web application for facilitating anonymous questions and answers sessions. The application is to be used mainly by corporate and government customers. 
                </p>
            </div>
            <div class="cols__item">
                <h3 class="col-title">
                    Useful links
                </h3>
                <ul class="links">
                    <li class="links__item">
                        <a href="#" class="link">
                            Home
                        </a>
                    </li>
                    <li class="links__item">
                        <a href="#" class="link">
                            How it works
                        </a>
                    </li>  
                    <li class="links__item">
                        <a href="#" class="link">
                            Terms and conditions
                        </a>
                    </li>    
                    <li class="links__item">
                        <a href="#" class="link">
                            Cookies policy
                        </a>
                    </li>    
                    <li class="links__item">
                        <a href="#" class="link">
                            Contact us
                        </a>
                    </li>   
                    <li class="links__item">
                        <a href="#" class="link">
                            About us
                        </a>
                    </li>
                    <li class="links__item">
                        <a href="#" class="link">
                            Features
                        </a>
                    </li>
                    <li class="links__item">
                        <a href="#" class="link">
                            Event list
                        </a>
                    </li>
                </ul>
            </div>
            <div class="cols__item">
                <h3 class="col-title">
                    My accounts
                </h3>
                <ul class="links">
                    <li class="links__item">
                        <a href="#" class="link">
                            New account
                        </a>
                    </li>
                    <li class="links__item">
                        <a href="#" class="link">
                            Open an account
                        </a>
                    </li>  
                    <li class="links__item">
                        <a href="#" class="link">
                            Manage
                        </a>
                    </li>    
                    <li class="links__item">
                        <a href="#" class="link">
                            Change password
                        </a>
                    </li>    
                    <li class="links__item">
                        <a href="#" class="link">
                            Delete account
                        </a>
                    </li>   
                    <li class="links__item">
                        <a href="#" class="link">
                            Dashboard
                        </a>
                    </li>
                </ul>
            </div>
            <div class="cols__item cols__item--soc-col">
                <h3 class="col-title">
                    We are social
                </h3>
                <div class="social-bar">
                    <a href="#" class="icon">
                        <i class="fico fico-twitter"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fico fico-pinterest"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fico fico-linkedin"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fico fico-facebook"></i>
                    </a>
                </div>
                <span class="text">
                    Subscribe to our newsletter
                </span>
                <form action="/" method="POST" class="subscribe">
                    <input type="text" placeholder="Email adddress" class="subscribe__txt"><input type="submit" class="subscribe__btn" value="">
                </form>
            </div>
        </div>
        <h3 class="title">
            © 2016 AskVote.io, all rights received
        </h3>
    </div>
</footer>