<header class="header">
    <div class="container">
        <nav class="nav">
            <a href="#" class="logo"></a>
            <ul class="menu">
                <li class="menu__item">
                    <a href="#" class="link">Home</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="link">How it works</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="link">Features</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="link">Partners</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="link">Events</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="link">About us</a>
                </li>
            </ul>
            <a href="#" class="login">
                <i class="login__icon"></i>
                <span class="login__text">
                    Log in
                </span>
            </a>
            <a href="#" class="reg">
                <i class="reg__icon"></i>
                <span class="reg__text">
                    Register
                </span>
            </a>
        </nav>
    </div>
</header>