<header class="header">
    <div class="container">
        <nav class="nav">
            <a href="#" class="logo"></a>
            <ul class="menu">
                <li class="menu__item">Home</li>
                <li class="menu__item">How it works</li>
                <li class="menu__item">Features</li>
                <li class="menu__item">Partners</li>
                <li class="menu__item">Events</li>
                <li class="menu__item">About us</li>
            </ul>
            <a href="#" class="login">
                <i class="login__icon"></i>
                <span class="login__text">
                    Log in
                </span>
            </a>
            <a href="#" class="reg">
                <i class="reg__icon"></i>
                <span class="reg__text">
                    Register
                </span>
            </a>
        </nav>
    </div>
</header>