<div class="partners">
    <div class="container">
        <h3 class="big-text">
            Partners
        </h3>
        <div class="labels">
            <div class="carousel">
                <div class="label">
                    <img src="img/mccann.png" alt="label" class="label-pic">
                </div>
                <div class="label">
                    <img src="img/un-women.png" alt="label" class="label-pic">
                </div>
                <div class="label">
                    <img src="img/accenture.png" alt="label" class="label-pic">
                </div>
                <div class="label">
                    <img src="img/cisco.png" alt="label" class="label-pic">
                </div>
                <div class="label">
                    <img src="img/eventbrite.png" alt="label" class="label-pic">
                </div>
                <div class="label">
                    <img src="img/zappos.png" alt="label" class="label-pic">
                </div>
                <div class="label">
                    <img src="img/siemens.png" alt="label" class="label-pic">
                </div>
                <div class="label">
                    <img src="img/mccann.png" alt="label" class="label-pic">
                </div>
            </div>
        </div>
    </div>
</div>