<div class="partners">
    <div class="container">
        <h3 class="big-text">
            Partners
        </h3>
        <div class="cols">
            <div class="arrow arrow--left"></div>
            <i class="cols__item cols__item--mccann"></i>
            <i class="cols__item cols__item--un-women"></i>
            <i class="cols__item cols__item--accenture"></i>
            <i class="cols__item cols__item--cisco"></i>
            <i class="cols__item cols__item--eventbrite"></i>
            <i class="cols__item cols__item--zappos"></i>
            <i class="cols__item cols__item--siemens"></i>
            <div class="arrow arrow--right"></div>
        </div>

        <div class="labels">
            <div class="carousel">
                <div class="label">
                    <img src="../img/mccann.png" alt="label" class="label-pic">
                </div>
                <div class="label">
                    <img src="../img/un-women.png" alt="label" class="label-pic">
                </div>
                <div class="label">
                    <img src="../img/accenture.png" alt="label" class="label-pic">
                </div>
                <div class="label">
                    <img src="../img/cisco.png" alt="label" class="label-pic">
                </div>
                <div class="label">
                    <img src="../img/eventbrite.png" alt="label" class="label-pic">
                </div>
                <div class="label">
                    <img src="../img/zappos.png" alt="label" class="label-pic">
                </div>
                <div class="label">
                    <img src="../img/siemens.png" alt="label" class="label-pic">
                </div>
                <div class="label">
                    <img src="../img/mccann.png" alt="label" class="label-pic">
                </div>
            </div> 
            <!-- <div class="arrow arrow--left"></div>          
            <div class="arrow arrow--right"></div>      -->
        </div>
        <!--
        <div class="labels">
            <div class="carousel">
                <div class="label label--mccann"></div>
                <div class="label label--un-women"></div>
                <div class="label label--accenture"></div>
                <div class="label label--cisco"></div>
                <div class="label label--eventbrite"></div>
                <div class="label label--zappos"></div>
                <div class="label label--siemens"></div>
                <div class="label label--mccann"></div>
            </div>   
            <div class="arrow arrow--left"></div>          
            <div class="arrow arrow--right"></div>          
        </div>
        -->
    </div>
</div>