<div class="partners">
    <div class="container">
        <h3 class="big-text">
            Partners
        </h3>
        <div class="cols">
            <div class="arrow arrow--left"></div>
            <i class="cols__item cols__item--mccann"></i>
            <i class="cols__item cols__item--un-women"></i>
            <i class="cols__item cols__item--accenture"></i>
            <i class="cols__item cols__item--cisco"></i>
            <i class="cols__item cols__item--eventbrite"></i>
            <i class="cols__item cols__item--zappos"></i>
            <i class="cols__item cols__item--siemens"></i>
            <div class="arrow arrow--right"></div>
        </div>
    </div>
</div>