.footr
	padding: 126px 0 42px 0
	background-color: black
	color: white
	text-align: center
	.logo
		display: inline-block
		vertical-align: middle
		line-height: 0
		//margin-bottom: 15px
		+sprite($logo)
		margin-bottom: 76px
	.cols
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 183px
		&__item
			text-align: left
			.text
			.col-title
				font-family: 'Lato', Arial, Helvetica, sans-serif
				font-size: 28px
				margin-bottom: 45px
			.social-bar
				margin-bottom: 55px
			.links
				&__item
					display: block
					.link
						font-family: 'Lato-Light', Arial, Helvetica, sans-serif
						font-size: 22px
						text-decoration: none
						color: #fff
						line-height: 28px
						transition: background-color 1s
						&:hover
							background-color: $pseudoGreykBG
			&--logo-col
				text-align: center
				.text
					max-width: 450px
					font-family: 'Lato-Light', Arial, Helvetica, sans-serif
					font-size: 25px
					line-height: 1.3
			&--soc-col
				text-align: center
				.text
					font-family: 'Lato-Light', Arial, Helvetica, sans-serif
					font-size: 22px
					line-height: 0.9
					display: inline-block
					margin-bottom: 45px
	.title
		font-family: 'Lato-Light', Arial, Helvetica, sans-serif
		font-size: 28px
		line-height: 0.8