.footr
	padding: 126px 0 42px 0
	background-color: black
	color: white
	text-align: center
	+r(1980)
		padding: 164px 0 63px 0
	+r(1599)
		padding: 60px 0 30px 0
	+r(1199)
		padding: 79px 0 35px 0
	.logo
		display: inline-block
		vertical-align: middle
		line-height: 0
		//margin-bottom: 15px
		//+sprite($logo)
		margin-bottom: 76px
		width: 140px
		height: 169px
		background: url('../img/logo.png') no-repeat center
		background-size: cover
		+r(1980)
			margin-bottom: 90px
			height: 260px
			width: 215.4px
		+r(1599)
			height: 169px
		+r(1199)
			height: 128px
			margin-bottom: 35px
	.cols
		display: flex
		justify-content: space-between
		//align-items: center
		margin-bottom: 183px
		+r(1980)
			padding: 0 120px
			flex-wrap: wrap
			margin-bottom: 350px
		+r(1599)
			padding: 0 30px
			margin-bottom: 90px
		+r(1199)
			padding: 0
		&__item
			text-align: left
			padding-top: 121px
			margin-bottom: auto
			+r(1980)
				padding-top: 0
			+r(1199)
				display: none
			.text
			.col-title
				font-family: 'Lato', Arial, Helvetica, sans-serif
				font-size: 28px
				margin-bottom: 45px
				+r(1980)
					font-size: 59px
				+r(1599)
					font-size: 50px
			.social-bar
				display: flex
				justify-content: space-between
				margin-bottom: 55px
				max-width: 302px
				margin-left: auto
				margin-right: auto
				+r(1980)
					max-width: 893px
					margin-bottom: 160px
				+r(1599)
					margin-bottom: 80px
				+r(1199)
					max-width: 442px
				+r(767)
					//max-width: 200px
					//margin: 0
					//margin-left: 0
					//margin-right: 0
				.icon
					display: inline-block
					height: 32px
					width: 32px
					+r(1980)
						height: 93px
						width: 93px
					+r(1199)
						height: 45px
						width: 45px
					&--twitter
						//+sprite($twitt)
						background: url('../img/twitt.png') no-repeat center
						background-size: cover
					&--pinterest
						//+sprite($pin)
						background: url('../img/pin.png') no-repeat center
						background-size: cover
					&--in
						//+sprite($in)
						background: url('../img/in.png') no-repeat center
						background-size: cover
					&--fb
						//+sprite($facebook)
						background: url('../img/facebook.png') no-repeat center
						background-size: cover
			.links
				&__item
					display: block
					.link
						font-family: 'Lato-Light', Arial, Helvetica, sans-serif
						font-size: 22px
						text-decoration: none
						color: #fff
						line-height: 28px
						transition: background-color 1s
						+r(1980)
							font-size: 47px
							line-height: 1.05
						+r(1599)
							font-size: 40px
						&:hover
							background-color: $pseudoGreykBG
			.subscribe
				//display: none
				position: relative
				padding: 0 6px
				+r(1980)
					margin: 0 195px
				+r(1199)
					margin: 0 87px
				+r(767)
					margin: 0
				&::after
					content: ""
					position: absolute
					height: 2px
					background-color: #fff
					left: 0
					right: 0
					bottom: 0
				&__txt
					//position: relative
					display: inline-block
					color: #ede3d3
					border: none
					line-height: 40px
					font-size: 22px
					font-family: 'Lato-Light', Arial, Helvetica, sans-serif
					background-color: rgba(0, 0, 0, 0)
					width: 100%
					padding: 0 32px
					box-sizing: border-box
					text-align: center
					+r(1980)
						font-size: 64px
						line-height: 120px
						padding: 0 93px
					+r(1199)
						font-size: 31px
						line-height: 60px
						padding: 0 45px
					+r(767)
						font-size: 23px
						padding: 0 32px
					&:focus
						border: none
						outline: none
				&__btn
					position: absolute
					display: inline-block
					border: none
					background-color: rgba(0, 0, 0, 0)
					line-height: 40px
					padding: 0
					//+sprite($envelope)
					width: 32px
					height: 24px
					background: url('../img/envelope.png') no-repeat center
					background-size: cover
					top: 50%
					transform: translateY(-50%)
					right: 6px 
					+r(1980)
						height: 70px
						width: 93px
						//border: 1px solid red
					+r(1199)
						height: 34px
						width: 45px
					+r(767)
						width: 32px
						height: 24px
					&:hover
						cursor: pointer
			&--logo-col
				text-align: center
				padding-top: 0
				+r(1980)
					flex-basis: 100%
					margin-bottom: 185px
				+r(1599)
					margin-bottom: 135px
				+r(1199)
					margin-bottom: 150px
					display: initial
				+r(767)
					margin-bottom: 60px
				.text
					max-width: 450px
					font-family: 'Lato-Light', Arial, Helvetica, sans-serif
					font-size: 25px
					line-height: 1.3
					+r(1980)
						margin-left: auto
						margin-right: auto
						font-size: 64px
						max-width: none
					+r(1599)
						font-size: 43px
					+r(1199)
						font-size: 33px
						max-width: 615px
					+r(767)
						font-size: 22px
			&--soc-col
				text-align: center
				min-width: 375px
				+r(1980)
					flex-basis: 100%
					padding-top: 100px
				+r(1199)
					display: initial
					padding-top: 0
				+r(375)
					min-width: 0
				.col-title
					+r(1980)
						font-size: 80px
						margin-bottom: 133px
					+r(1599)
						//font-size: 50px
						margin-bottom: 60px
					+r(1199)
						font-size: 38px
						margin-bottom: 60px
					+r(767)
						font-size: 33px
						//display: none
				.text
					font-family: 'Lato-Light', Arial, Helvetica, sans-serif
					font-size: 22px
					line-height: 0.9
					display: inline-block
					margin-bottom: 45px
					+r(1980)
						font-size: 64px
						margin-bottom: 105px
					+r(1599)
						font-size: 40px
						margin-bottom: 50px
					+r(1199)
						font-size: 31px
					+r(767)
						//display: none
	.title
		font-family: 'Lato-Light', Arial, Helvetica, sans-serif
		font-size: 28px
		line-height: 0.8
		+r(1980)
			font-size: 57px
		+r(1599)
			font-size: 40px
		+r(1199)
			font-size: 28px