.footr
	padding: 126px 0 42px 0
	background-color: black
	color: white
	text-align: center
	.logo
		display: inline-block
		vertical-align: middle
		line-height: 0
		//margin-bottom: 15px
		+sprite($logo)
		margin-bottom: 76px
	.cols
		display: flex
		justify-content: space-between
		margin-bottom: 183px
		&__item
			text-align: left
			.text
			&--logo-col
				text-align: center
				.text
					max-width: 450px
					font-family: 'Lato-Light', Arial, Helvetica, sans-serif
					font-size: 25px
					line-height: 1.3
	.title
		font-family: 'Lato-Light', Arial, Helvetica, sans-serif
		font-size: 28px
		line-height: 0.8