.header
	font-size: 38px
	color: white
	background: url(../img/header_bg.jpg) no-repeat 
	background-size: cover
	background-color: $pseudoBlackBG
	background-position: 50% 207px
	+r(1980)
		background-position: 50% 133px
		font-size: 25px	
	+r(1199)
		background-position: 50% 195px
	.logo
		display: inline-block
		vertical-align: middle
		line-height: 0
		//margin-bottom: 15px
		+sprite($logo)
		+r(1980)
			display: none
		+r(1199)
			display: inline-block
			height: 128px
	.nav
		display: flex
		align-items: center
		padding: 0 66px 0 121px
		margin-bottom: 365px
		+r(1980)
			padding: 0 175px
			margin-bottom: 236px
		+r(1599)
			padding: 0
			margin-bottom: 150px
		+r(1199)
			min-height: 195px
			justify-content: center
			margin-bottom: 155px
		.menu
			//vertical-align: middle
			display: inline-block
			margin-right: 119px
			margin-left: auto
			//padding-left: 183px
			+r(1980)
				margin-right: 77px
			+r(1199)
				display: none
			&__item
				display: inline-block
				margin-right: 26px 
				position: relative
				transition: background-color 2s
				+r(1980)
					margin-right: 5px
				&:hover
					background-color: $pseudoGreykBG
					&::before
						opacity: 1
				&::before
					content: ""
					position: absolute
					left: 0
					right: 0
					top: 0
					height: 2px
					background-color: #fff
					opacity: 0
					transition: opacity 1.7s
				&:last-of-type
					margin-right: 0
				.link
					text-decoration: none
					color: white
					display: inline-block
					padding: 0 11px 0 17px
					//line-height: 133px
					line-height: 208px
					+r(1980)
						line-height: 133px
		.login
			//vertical-align: middle
			display: inline-block
			text-align: center
			text-decoration: none
			margin-right: 68px
			+r(1980)
				margin-right: 45px
			+r(1199)
				display: none
			&__icon
				display: inline-block
				margin-bottom: 9px
				+sprite($login)
			&__text
				display: block
				font-size: 18px
				font-family: 'Lato-Light', Arial, Helvetica, sans-serif
				color: #fff
		.reg
			//vertical-align: middle
			display: inline-block
			text-align: center
			text-decoration: none
			+r(1600)
				margin-right: auto
			+r(1199)
				display: none
			&__icon
				display: inline-block
				margin-bottom: 9px
				+sprite($register)
			&__text
				display: block
				font-size: 18px
				font-family: 'Lato-Light', Arial, Helvetica, sans-serif
				color: #fff
	.cols
		display: flex
		justify-content: center
		&__item
			margin-right: 100px
			+r(1199)
				margin-right: 0
				text-align: center
				padding-bottom: 70px
			&:last-of-type
				margin-right: 0
				+r(1199)
					display: none
			.phone-img
				+r(1980)
					height: 580px
					width: auto
				+r(1600)
					height: 480px
			.big-text
				display: inline-block
				font-family: 'Lato-Black', Arial, Helvetica, sans-serif
				font-size: 83px
				color: white
				text-shadow: 2px 8px black
				//margin-left: 265px
				margin-bottom: 50px
				+r(1980)
					font-size: 53px
					margin-bottom: 33px
				+r(1600)
					font-size: 43px
				+r(1199)
					font-size: 44px
					margin-bottom: 45px
				.decor-bar
					background-color: #fff
					width: 338px
					height: 10px
					border-radius: 5px
					margin-right: 0
					margin-left: auto
					margin-top: 27px
					position: relative
					+r(1980)
						margin-top: 17px
						height: 6px
						width: 217px
					&::before
						content: ""
						position: absolute
						background-color: #fff
						border-radius: 5px
						width: 12px
						height: 10px
						left: -78px
						+r(1980)
							height: 6px
							width: 8px
							left: -43px
					&::after
						content: ""
						position: absolute
						background-color: #fff
						border-radius: 5px
						width: 24px
						height: 10px
						left: -38px	
						+r(1980)
							height: 6px
							width: 12px	
							left: -25px		
			.mid-text
				display: block
				font-family: 'Lato', Arial, Helvetica, sans-serif
				font-size: 50px
				padding-left: 103px
				margin-bottom: 255px
				+r(1980)
					font-size: 33px
					padding-left: 70px
					margin-bottom: 163px
				+r(1600)
					font-size: 25px
					margin-bottom: 100px
				+r(1199)
					font-size: 26px
					padding-left: 55px
					margin-bottom: 67px
			.event-bar
				font-family: 'Lato-Semibold', Arial, Helvetica, sans-serif
				font-size: 33px
				line-height: 0
				padding-left: 233px
				+r(1980)
					font-size: 20px
					padding-left: 150px
				+r(1199)
					padding: 0
				.create
					display: inline-block
					color: white
					text-decoration: none
					line-height: 72px
					padding: 0 30px
					border: 2px solid #fff
					margin-right: 68px
					+r(1980)
						line-height: 49px
						padding: 0 17px
						margin-right: 44px
					+r(1199)
						line-height: 60px
						font-size: 26px
						padding: 0 20px
				.event-form
					display: inline-block
					.sub
						display: inline-block
						font-family: 'Lato-Semibold', Arial, Helvetica, sans-serif
						font-size: 33px
						color: white
						line-height: 72px
						padding: 0 30px
						border: 2px solid #fff
						background-color: rgba(0, 0, 0, 0)
						&:hover
							cursor: pointer
						+r(1980)
							line-height: 49px
							font-size: 20px
							padding-left: 5px
							padding-right: 12px
						+r(1199)
							font-size: 26px
							line-height: 60px
							padding: 0 17px 0 7px
					.inp
						vertical-align: top
						display: inline-block
						font-family: 'Lato-Semibold', Arial, Helvetica, sans-serif
						font-size: 28px
						color: $pseudoBlueTxt2
						line-height: 72px
						padding: 0 30px
						border: 2px solid #fff
						max-width: 185px
						box-sizing: border-box
						&::placeholder
							color: $pseudoBlueTxt2
							opacity: 1
						+r(1980)
							line-height: 49px
							font-size: 17px
							padding-left: 21px
							padding-right: 19px
							//min-width: 115px
							//display: inline-block
							width: 120px
						+r(1199)
							line-height: 60px
							font-size: 22px
							padding: 0 25px
							width: 150px
			.phone-pic


